* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

@font-face {
  font-family: 'cocogoose';
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/cocogoose_trial.otf");
}

.white-text {
  color: white;
}

.bright-text {
  color: #ec5242;
}

.dark-text {
  color: #272a31;
}

/* Navbars Section */

.top-nav {
  background-color: #272a31;
}

.top-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5%;
}

.top-nav-items a {
  color: white;
  text-decoration: none;
  margin: 15px;
}

.middle-nav {
  border-bottom: 1px solid #d3d3d3;
}

.middle-nav-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 5% 15px 5%;
}

.middle-nav-leftitems a {
  text-decoration: none;
  margin: 15px;
}

.middle-nav-leftitems button {
  border: 3px solid #ec5242;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5%;
}

.bottom-nav a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.subheaders {
  font-size: 35px;
}

.optionbox {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tickets-box {
  width: 80%;
}

.tickbox-toptitles p,
.titles {
  padding-top: 10px;
  font-size: 12px;
}

.price {
  font-size: 14px;
}

.menu-box {
  width: 80%;
}

/* footer / Company Info Section */

.sec-company-info-box {
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #272a31;
  border: 1px solid black;
}

.leftitems-companyinfo img {
  width: 200px;
}

.rightitems-companyinfo p {
  margin-left: 35px;
  color: white;
}

/* Responsive Section */

@media only screen and (max-width: 767px) {
  .top-nav {
    display: none;
  }

  .middle-nav {
    display: none;
  }

  .bottom-nav {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  /* Company Info Section */

  .leftitems-companyinfo img {
    width: 250px;
  }

  .optionbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .optionbox li,
  .optionbox p {
    font-size: 12px;
    padding-top: 10px;
  }
}
